<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="AzureAccountKey" value="" />
    <add key="AzureAccountName" value="" />
    <add key="SignatureSize" value="50000" /> <!-- Slowly being phased out, I hope. -->

    <!-- Minimum sig size is how small we want the blocks/signatures to be *initially*. 
         InitialNumberOfBlocks is how many blocks we'll attempt to create for the initial upload. 
         If we have MinSigSize = 50000 and InitNoBlocks = 10000 and we attempt to upload a file of 1G, the following calculation will be done. 
         1000000000 / 10000 (size/noblocks) = 20000. So by that calculation each block would be 20k. 
         But we want min sig size to be 50k, so we'll INCREASE the noblocks until the size/noblocks is >= 50000.
         
         The logic being that different sig sizes will heavily depend on the file sizes.
         This is an attempt to find something that will suit medium to large files.
         -->

    <add key="MinimumSignatureSize" value="2000" />
    <add key="InitialNumberOfBlocks" value="10000" />
  </appSettings>
  </configuration>